# Fichiers d’exécution utilisé par python
__pycache__/
.venv/
env/

# Fichier de travail pour l’entrainement et les tests de modèles
dataset*/
spaghetti en trop/
ok cut/

models/
*.h5
*.keras
!model.h5

brouillon.txt

# Fichier de travail pour les prédictions
photo_capturee.jpg
